@model Urbann.Models.FilterOptionsViewModel

@{
    ViewData["Title"] = "Index";
}


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand">Filter by</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Categories
                </a>
                <div class="dropdown-menu">
                    @foreach (var item in Model.Categories)
                    {
                        <span class="dropdown-item filter-option-category">@item</span>
                    }
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Countries
                </a>
                <div class="dropdown-menu">
                    @foreach (var item in Model.Countries)
                    {
                        <span class="dropdown-item filter-option-country">@item</span>
                    }
                </div>
            </li>
        </ul>
        @*<div class="form-inline my-2 my-lg-0">
                <button class="btn btn-info my-2 my-sm-0" id="filterBtn">Filter</button>
            </div>*@
    </div>
</nav>

<button class="btn btn-danger btn-sm" id="clearAllFilters" type="submit" style="margin:5px 0px 5px 0px;display:none;">Clear all filters <i class="fas fa-times"></i></button>
<div class="container">
    <div class="row" id="filters">
    </div>
</div>


<div class="row" id="cardsDiv">

</div>

<h3 class="text-center" id="noData">there are no more abandoned places</h3>

<div class="row">
    <div class="col-lg-4 offset-lg-4">
        <div class="col align-self-center text-center" id="loading">
        </div>
    </div>
</div>

@*<div class="row col-lg-9">
        @foreach (var item in Model.Places)
        {
            <div class="col-sm-6 col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="~/images/photos/2.jpeg" height="200" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-text">@item.Name</h5>
                        <p class="card-text">
                            fdsfs
                        </p>
                        <div class="form-row text-center">
                            <div class="col-12">
                                <a href="#" class="btn btn-primary">More...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>*@

@await Html.PartialAsync("_CardTemplate")


@section Scripts {
    <script>

        var categories = [];
        var countries = [];
        var carsDiv = $('#cardsDiv');
           
    

        $(".filter-option-category").click(function () {
            if ($("#filters:contains('" + $(this).text() + "')").length > 0) {

            }
            else {
                var filter = '<button type="button" class="btn btn-primary btn-sm filter-button-category">' + $(this).text() + ' <i class="fas fa-times"></i></button>';
                $("#filters").append(filter);
                categories.push($(this).text());
                filters();
                carsDiv.empty();
                search();
            }
        });

        $(".filter-option-country").click(function () {
            if ($("#filters:contains('" + $(this).text() + "')").length > 0) {

            }
            else {
                var filter = '<button type="button" class="btn btn-primary btn-sm filter-button-country">' + $(this).text() + ' <i class="fas fa-times"></i></button>';
                $("#filters").append(filter);
                countries.push($(this).text());
                filters();
                carsDiv.empty();
                search();
            }
        });

        function filters() {
            if (categories.length > 0 || countries.length > 0) {
                $("#clearAllFilters").show();
            }
            else {
                $("#clearAllFilters").hide();
            }
        }

        $("#filters").on("click", ".filter-button-category", function () {
            let removableIndex = categories.indexOf($.trim($(this).text()));
            categories.splice(removableIndex, 1);
            filters();
            $(this).remove();
            carsDiv.empty();
            search();
        });

        $("#filters").on("click", ".filter-button-country", function () {
            let removableIndex = countries.indexOf($.trim($(this).text()));
            countries.splice(removableIndex, 1);
            filters();
            $(this).remove();
            carsDiv.empty();
            search();
        });

        $(".filter-button-country").click(function () {
            alert($(this).text());
        });

        $("#clearAllFilters").click(function () {
            categories = [];
            countries = [];
            $("#filters").empty();
            filters();
            carsDiv.empty();
            search();
        });

        $(document).ready(function () {
            search();
        });

        var loadCards = true;
        var lackPlaces = false;
        function search() {
            alert(loadCards);
            if (loadCards == true) {
                var cards = $('.card').length;
                var qName = $("#qName").val();
                $.ajax({
                    type: 'GET',
                    traditional: true,
                    data: {
                        name: qName,
                        category: categories,
                        country: countries,
                        limit: 12,
                        skip: cards
                    },
                    url: 'api/places/searchcomplex',
                    beforeSend: function () {
                        $('#noData').hide();
                        $("#loading").append('<i id="spinner" class="fas fa-spinner fa-spin"></i>');
                        loadCards = false;
                    },
                    success: function (data) {
                        if (data === undefined || data.length == 0) {
                            $('#noData').fadeIn(1000);
                        }
                        else {
                            var cardTemplate = $('#cardTemplate').html();
                            $.each(data, function (i, item) {
                                carsDiv.append(Mustache.render(cardTemplate, item));
                            })
                            $('.fadeIn').fadeIn(1000);
                        }
                    },
                    error: function (data) {
                        alert('error');
                    },
                    complete: function (xhr, textStatus) {
                        $("#spinner").remove();
                        loadCards = true;
                    }
                });
            }
        }


        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() == $(document).height() && loadCards == true) {
                search();
            }
        });
    </script>
}
