@model Urbann.Models.FilterOptionsViewModel


<div class="carousel d-none d-lg-block">
    <img src="~/images/main-img.jpeg" alt="Abandoned Places" class="img-fluid">
    <div class="carousel-caption" id="search">
        <h1>Urban Exploration</h1>
        <p>Find abandoned places</p>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Enter a name of place..." name="Name" id="qName">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit" id="searchBtn">Search</button>
            </div>
        </div>
    </div>
</div>

<div class="d-none d-sm-block d-md-block d-lg-none image-container">
    <img src="~/images/main-img.jpeg" alt="Abandoned Places" class="img-fluid">
    <div class="centered">
        <h2>Urban Exploration</h2>
        <div class="input-group text-center">
            <input type="text" class="form-control" placeholder="Enter a name of place..." name="Name" id="qName">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit" id="searchBtn">Search</button>
            </div>
        </div>
    </div>
</div>

<div class="d-block d-sm-none" style="margin-top:50px;">
    <div class="input-group text-center">
        <input type="text" class="form-control" placeholder="Enter a name of place..." name="Name" id="qName">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit" id="searchBtn">Search</button>
        </div>
    </div>
</div>
<hr />

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand">Filter by</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Categories
                </a>
                <div class="dropdown-menu">
                    @foreach (var item in Model.Categories)
                    {
                        <span class="dropdown-item filter-option-category">@item</span>
                    }
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Countries
                </a>
                <div class="dropdown-menu">
                    @foreach (var item in Model.Countries)
                    {
                        <span class="dropdown-item filter-option-country">@item</span>
                    }
                </div>
            </li>
        </ul>
    </div>
</nav>

<button class="btn btn-danger btn-sm" id="clearAllFilters" type="submit" style="margin:5px 0px 5px 0px;display:none;">Clear all filters <i class="fas fa-times"></i></button>
<div class="container">
    <div class="row" id="filters">
    </div>
</div>


<div class="row" id="cardsDiv">
</div>

<h3 class="text-center" id="noData">there are no more abandoned places</h3>

<div class="row">
    <div class="col-lg-4 offset-lg-4">
        <div class="col align-self-center text-center" id="loading">
        </div>
    </div>
</div>


@await Html.PartialAsync("_CardTemplate")


@section Scripts {
    <script>

        var categories = [];
        var countries = [];
        var carsDiv = $('#cardsDiv');



        $(".filter-option-category").click(function () {
            if ($("#filters:contains('" + $(this).text() + "')").length > 0) {

            }
            else {
                var filter = '<button type="button" class="btn btn-primary btn-sm filter-button-category">' + $(this).text() + ' <i class="fas fa-times"></i></button>';
                $("#filters").append(filter);
                categories.push($(this).text());
                filters();
                carsDiv.empty();
                search();
            }
        });

        $(".filter-option-country").click(function () {
            if ($("#filters:contains('" + $(this).text() + "')").length > 0) {

            }
            else {
                var filter = '<button type="button" class="btn btn-primary btn-sm filter-button-country">' + $(this).text() + ' <i class="fas fa-times"></i></button>';
                $("#filters").append(filter);
                countries.push($(this).text());
                filters();
                carsDiv.empty();
                search();
            }
        });

        function filters() {
            if (categories.length > 0 || countries.length > 0) {
                $("#clearAllFilters").show();
            }
            else {
                $("#clearAllFilters").hide();
            }
        }

        $("#filters").on("click", ".filter-button-category", function () {
            let removableIndex = categories.indexOf($.trim($(this).text()));
            categories.splice(removableIndex, 1);
            filters();
            $(this).remove();
            carsDiv.empty();
            search();
        });

        $("#filters").on("click", ".filter-button-country", function () {
            let removableIndex = countries.indexOf($.trim($(this).text()));
            countries.splice(removableIndex, 1);
            filters();
            $(this).remove();
            carsDiv.empty();
            search();
        });

        $("#clearAllFilters").click(function () {
            categories = [];
            countries = [];
            $("#filters").empty();
            filters();
            carsDiv.empty();
            search();
        });

        $(document).ready(function () {
            search();
        });

        $("#searchBtn").on("click", function () {
            carsDiv.empty();
            search();
        });

        var loadCards = true;
        var lackPlaces = false;
        function search() {
            var cards = $('.card').length;
            var qName = $("#qName").val();
            $.ajax({
                type: 'GET',
                traditional: true,
                data: {
                    name: qName,
                    category: categories,
                    country: countries,
                    limit: 12,
                    skip: cards
                },
                url: 'api/places/searchcomplex',
                beforeSend: function () {
                    $('#noData').hide();
                    $("#loading").append('<i id="spinner" class="fas fa-spinner fa-spin"></i>');
                    loadCards = false;
                },
                success: function (data) {
                    if (data === undefined || data.length == 0) {
                        $('#noData').fadeIn(1000);
                    }
                    else {
                        var cardTemplate = $('#cardTemplate').html();
                        $.each(data, function (i, item) {
                            carsDiv.append(Mustache.render(cardTemplate, item));
                        })
                        $('.fadeIn').fadeIn(1000);
                    }
                },
                error: function (data) {
                   
                },
                complete: function (xhr, textStatus) {
                    $("#spinner").remove();
                    loadCards = true;
                }
            });
        }


        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() == $(document).height() && loadCards == true) {
                search();
            }
        });
    </script>
}
