@model IEnumerable<Urbann.Data.Place>


<div id="cardsDiv" class="row">
    @foreach (var item in Model)
    {
        <div class="col-6 col-md-4 col-lg-3">
            <div class="card shadow">
                <img class="card-img-top" src="~/images/photos/@item.ThumbnailFileName" height="180" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-text">@item.Name</h5>
                    <p class="card-text">
                        @if (item.Address != null)
                        {
                            <text>
                                @item.Address.Country.Name,
                                @item.Address.City<br />
                                @item.Address.Street
                            </text>

                        }
                    </p>
                    <div class="form-row text-center">
                        <div class="col-12">
                            <a href="#" class="btn btn-primary">More...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@*partial*@
<div class="col-lg-4 offset-lg-4">
    <div class="col align-self-center text-center" id="loading">
        <h3 id="noData" style="display:none; margin-top:40px;">there are no more abandoned places</h3>
    </div>
</div>

@await Html.PartialAsync("_CardTemplate")




@section Scripts {
    <script>
        var cardTemplate = $('#cardTemplate').html();
        var loadCards = true;
        var lackPlaces = false;
        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() == $(document).height() && loadCards == true && lackPlaces == false) {
                var cards = $('.card').length;
                $.ajax({
                    type: 'GET',
                    data: {
                        limit: 12,
                        skip: cards
                    },
                    url: '/api/places/take',
                    beforeSend: function () {
                        $("#loading").append('<i id="spinner" class="fas fa-spinner fa-spin"></i>');
                        loadCards = false;
                    },
                    success: function (data) {
                        if (data === undefined || data.length == 0) {
                            $('#noData').fadeIn(1000);
                            lackPlaces = true;
                        }
                        else {
                            $.each(data, function (i, item) {
                                $('#cardsDiv').append(Mustache.render(cardTemplate, item));
                            })
                            $('.fadeIn').fadeIn(1000);
                        }
                    },
                    error: function (data) {

                    },
                    complete: function (xhr, textStatus) {
                        $("#spinner").remove();
                        loadCards = true;
                    }
                });
            }
        });
    </script>
}

