
<template id="cardTemplate">
    <div class="col-6 col-md-4 col-lg-3 fadeIn" style="display:none;">
        <div class="card shadow">
            <img class="card-img-top" src="~/images/photos/{{thumbnailFileName}}" height="180" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-text">{{name}}</h5>
                <p class="card-text">
                    a<br />
                    b<br />
                    c<br />

                </p>

                <div class="form-row text-center">
                    <div class="col-12">
                        <a href="#" class="btn btn-primary">More...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>