<div class="carousel d-none d-lg-block">
    <img src="~/images/main-img.jpeg" alt="Abandoned Places" class="img-fluid">
    <div class="carousel-caption" id="search">
        <h1>Urban Exploration</h1>
        <p>Find abandoned places</p>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Enter a name of place..." name="Name" id="qName">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit" id="searchBtn">Search</button>
            </div>
        </div>
    </div>
</div>


<div class="d-none d-sm-block d-md-block d-lg-none image-container">
    <img src="~/images/main-img.jpeg" alt="Abandoned Places" class="img-fluid">
    <div class="centered">
        <h2>Urban Exploration</h2>
        <div class="input-group text-center">
            <input type="text" class="form-control" placeholder="Enter a name of place..." name="Name" id="qName">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit" id="searchBtn">Search</button>
            </div>
        </div>
    </div>
</div>

<div class="d-block d-sm-none" style="margin-top:50px;">
    <div class="input-group text-center">
        <input type="text" class="form-control" placeholder="Enter a name of place..." name="Name" id="qName">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit" id="searchBtn">Search</button>
        </div>
    </div>
</div>
<hr />